<style>
.top-text {
  margin-top: 18px;
}
</style>

<div class="wrapper">

  <h4 class="top-text">Contact Dave:</h4>
  <form action="https://formspree.io/dcohen18@gmail.com" method="POST">
    <div>
      <label class="col-md-4 control-label" for="name">Name:</label>
      <input class="form-control input-md" type="text" id="name" name="name">
    </div>
    <div>
      <label class="col-md-4 control-label" for="mail">E-mail:</label>
      <input class="form-control input-md" type="email" id="email" name="_replyto">
    </div>
    <div>
      <label class="col-md-4 control-label" for="msg">Message:</label>
      <textarea class="form-control" id="msg" name="user_message"></textarea>
    </div>
    <input class="btn btn-primary btn-adjust" type="submit" value="Send">
  </form>
    
</div>