{% for piece in site.data.portfolio-items %}
<div class="flex portfolio-wrapper">
  {% if piece.img_src %}
  <div class="portfolio-text">
  {% else %}
  <div>
  {% endif %}
  
  <h1><a href="{{ piece.deploy_url }}" target="_blank" rel="noopener noreferrer">{{ piece.title }}</a></h1>
  <p>
      <strong>Description:</strong> {{ piece.description }}
  </p>
  <p>
      <strong>Technology:</strong> {{ piece.technology }}
  </p>
  <p>
  <strong>Links:</strong>
  <ul class="links">        
{% for link in piece.links %}
    <li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.title }}</a></li>
{% endfor %}
  </ul>
  </p>
  </div>

{% if piece.img_src %}
<div class="portfolio-img">
<a href="{{ piece.deploy_url }}" target="_blank" rel="noopener noreferrer">
<img src="{{ piece.img_src }}" alt="{{ piece.title }}">
</a>
</div>
{% endif %}

</div>
<hr>
{% endfor %}

<div>
  <h1 style="margin-bottom: 18px;">Open Source Contributions</h1>
  <ul>
    <li><a href="https://github.com/DavidMetcalfe/Chrome-Bookmarks-Parser" target="_blank" rel="noopener noreferrer">DavidMetcalfe/Chrome-Bookmarks-Parser: Back up and parse Google Chrome's Bookmarks.bak file</a></li>
    <li><a href="https://github.com/EbookFoundation/free-programming-books" target="_blank" rel="noopener noreferrer">EbookFoundation/free-programming-books: Freely available programming books</a></li>
    <li><a href="https://github.com/grimmdude/MidiWriterJS" target="_blank" rel="noopener noreferrer">grimmdude/MidiWriterJS: ♬ A JavaScript library which provides an API for programmatically generating and creating expressive multi-track MIDI files and JSON objects.</a></li>

  </ul>
  <hr>
</div>
