ul.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio-text {
  width: 50%;
}

.portfolio-img {
  margin-left: 50px;
  padding-top: 20px;
  max-width: 750px;
}

.portfolio-img img {
  width: 100%;
  max-width: 750px;
}

@media screen and (max-width: 1000px) {
  .portfolio-text {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  .portfolio-wrapper {
    display: block;
  }
  .portfolio-text {
    width: 100%;
  }

  .portfolio-img {
    margin: 0 auto;
    padding-top: 10px;
    max-width: 750px;
  }
}
