$spacing: 12px;

.text-wrapper {
  ol,
  ul,
  blockquote {
    margin: 0 0 $spacing 0;
  }

  ol,
  ul,
  li {
    padding: 0;
  }

  ul li {
    margin-left: 28px;
    margin-bottom: 0;
  }

  ol li {
    margin-left: 24px;
    padding-left: 4px;
  }

  li {
    margin-bottom: 4px;

    ul,
    p {
      margin-bottom: 0;
    }
  }

  h2 {
    color: $dark-red;
  }

  h3 {
    font-size: 1.35rem;
  }

  blockquote {
    font-style: italic;
    border-left: 0.32813rem solid #dedbaf;
    padding-left: $spacing;
  }

  header {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $spacing * 2;

    h1 {
      font-weight: 500;
      letter-spacing: 1.5px;
      font-size: 40px;

      a {
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin-bottom: $spacing;
    }

    .color-grey {
      color: grey;
    }
  }

  table {
    margin-bottom: 16px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid grey;
    margin: 0;
    padding: 2px 6px;
  }

  img {
    max-width: 100%;
  }
}
