// UTILITIES

// .text-upper {
//   text-transform: uppercase;
// }

// .text-cap {
//   text-transform: capitalize;
// }

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-jc-center {
  justify-content: center;
}

.flex-ai-center {
  align-items: center;
}
