$dark-grey: rgba(0, 0, 0, 0.87);
$dark-blue1: #1e70bf;

.icon {
  display: inline-block;
  max-height: 16px;
  margin-right: 8px;
}

.music-discography-page {
  .feature {
    margin-bottom: 32px;

    .featured-image,
    .featured-image-back {
      display: inline-block;
      margin: auto;
      width: 50%;
    }

    .featured-links {
      margin-top: 8px;
    }

    .icon {
      max-height: 24px;
    }
  }

  .album-link-button {
    border: 1px solid $dark-grey;
    border-radius: 5px;
    color: $dark-grey;
    font-size: 1rem;
    padding: 2px 6px;
    margin: 0 1px;
    &:hover {
      border: 1px solid $dark-blue1;
      color: $dark-blue1;
    }
  }

  .album-link,
  .album-link-small {
    text-decoration: underline;
    padding: 0 4px;
  }

  // .album-link {
  // }

  .album-link-small {
    font-size: 1rem;
  }

  .artist-releases {
    margin-bottom: 24px;

    h4 {
      font-weight: normal;
    }
  }

  .album-li {
    list-style: none;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1rem;
    a {
      font-weight: normal;
    }
  }
}

@media screen and (max-width: 520px) {
  .music-discography-page {
    .feature {
      .featured-image {
        width: 100%;
      }
      .featured-image-back {
        display: none;
      }
    }
  }
}
