.reading-list {
  margin-top: 36px;
}

.book {
  margin-bottom: 24px;
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

// .book-info {}

// .book-data,
// .book-description {
// }
